@define-color primary #282c34;
@define-color white #d7d7ff;
@define-color aqua #61afef;
@define-color light_gray #9ca3b2;
@define-color dark_gray #4b5261;
@define-color red #f75f5f;
@define-color dark_red #d03770;
@define-color obsidian #383a3e;
@define-color fg #abb2bf;
@define-color gray #676e7b;
