@import url("../../.config/colors.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
}

button {
    all: unset;
}

label {
    all: unset;
    padding: 2px 0;
}

window#waybar {
    background-color: transparent;
}

/**
 * General
 */

#workspaces,
#clock,
#idle_inhibitor,
#pulseaudio,
#network,
#hardware,
#language,
#tray,
#custom-system {
    padding: 0 10px;
    background-color: @primary;
    color: @aqua;
    border-radius: 5px;
}

label:focus {
    background-color: #000000;
}

/**
 * Align with sway window inner gaps
 */

.modules-left,
.modules-center,
.modules-right {
    margin-top: 10px;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

#pusleaudio {
    transition: background 0.5s;
}

#pulseaudio:hover {
    background-color: @dark_gray;
}

/**
 * Workspaces
 */

#workspaces {
    padding: 0;
}

#workspaces button {
    padding-left: 8px;
    padding-right: 8px;
    margin: 3px 3px;
    background-color: transparent;
    border-radius: 0;
    box-shadow: inset 0 -1px #4b5261;
}

#workspaces button:hover {
    background-color: #4b5261;
    border-radius: 3px;
}

#workspaces button.visible {
    background-color: #4b5261;
    border-radius: 3px;
    box-shadow: none;
}

#workspaces button.empty {
    box-shadow: none;
}

#workspaces button.urgent {
    background-color: @red;
    border-radius: 3px;
}

/**
 * Clock
 */

#clock {
    font-weight: bolder;
}

/**
 * Modules Right
 */

#idle_inhibitor {
    padding-right: 17px;
    color: @light_gray;
}

#idle_inhibitor.activated {
    color: @aqua;
}

#pulseaudio {
    min-width: 45px;
}

#pulseaudio.muted {
    color: @red;
}

#network.disconnected {
    color: @red;
}

#cpu,
#memory,
#temperature {
    min-width: 55px;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#memory {
    padding-right: 5px;
}

#temperature {
    padding-right: 5px;
}

#temperature.critical {
    color: @red;
}

#language {
    min-width: 24px;
    padding-left: 8px;
    padding-right: 8px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#custom-system {
    padding-left: 10px;
    padding-right: 15px;
    background-color: @red;
    color: @primary;
}
